body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 175, 217);
    margin: auto;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #ffff;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 12px;
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  dl {
    width: 100%;
    line-height: 1.8;
  }
  
  dt {
    font-weight: bold;
    color: #444;
    margin-top: 10px;
  }
  
  dd {
    margin: 0 0 10px 0;
    color: #666;
  }